.banner {
  width: 100%;
  height: 100px;
  background-color: lightskyblue;
  text-align: center;
  color: white;
  margin-bottom: 20px;
}

.shop-section-1 {
  background-image: url("../assets/images/donuts.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 500px;
  margin-bottom: 20px;
}

.shop-section-2 {
  // background-color: blue;
  width: 100%;
  height: 500px;
  font-size: 18px;
  color: #333;
}

.menu {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap to the next line */
  justify-content: center; /* Center items horizontally */
  gap: 20px; /* Space between items */
  margin-top: 20px;
  padding: 0 20px;
}
.menu-item {
  background-color: white;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.menu-item img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 5px;
  background-color: #ddd;
}
.menu-item h3 {
  color: #333;
  margin: 10px 0;
}
.menu-item p {
  color: #666;
  font-size: 16px;
}
